html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 30px;
    text-align: left;
  }
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }